<ion-content class="ion-padding ion-text-center">
  <h1 class="bienvenida">¡Bienvenido a CAR_PARK!</h1>
  <p>Gestiona tus reservas, tarifas y mucho más desde esta app móvil de forma rápida y sencilla.</p>

  <ion-button expand="block" color="primary" (click)="irAlPanelAdmin()">
    Ir al Panel Admin
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="verServicios()">
    Ver Servicios
  </ion-button>

  <ion-button expand="block" color="success" (click)="reservarParqueadero()">
    Reservar Parqueadero
  </ion-button>
</ion-content>
