<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/inicio">Inicio</ion-item>
      <ion-item routerLink="/servicios">Servicios</ion-item>
      <ion-item routerLink="/reservas">Reservas</ion-item>
      <ion-item routerLink="/facturacion">Facturación</ion-item>
      <ion-item routerLink="/cerrar-sesion">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
